exampleDashboard.json
[
    {
        "id": "cb47a72f.4b4448",
        "type": "mqtt in",
        "z": "e5710e57.cbfba",
        "name": "",
        "topic": "router/~event/v1/data/new/#",
        "qos": "0",
        "broker": "c7d03048.1501f8",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "abcb4c4a.3a11f"
            ]
        ]
    },
    {
        "id": "69a4044c.cb1094",
        "type": "ui_gauge",
        "z": "e5710e57.cbfba",
        "name": "Gauge temp",
        "group": "7ee8c79c.1dd6",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Gauge temperature",
        "label": "°C",
        "format": "{{payload.value.temperature}}",
        "min": "-20",
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "20",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "acaa3abe.634988",
        "type": "mqtt in",
        "z": "e5710e57.cbfba",
        "name": "",
        "topic": "router/~event/v1/data/new/urn/lora/0018B200000021FB/#",
        "qos": "0",
        "broker": "61bc5f43.8e8418",
        "x": 250,
        "y": 920,
        "wires": [
            [
                "3910a1bb.caa5f6"
            ]
        ]
    },
    {
        "id": "b392bcd.1fb88c",
        "type": "debug",
        "z": "e5710e57.cbfba",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 920,
        "wires": []
    },
    {
        "id": "3910a1bb.caa5f6",
        "type": "json",
        "z": "e5710e57.cbfba",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 920,
        "wires": [
            [
                "b392bcd.1fb88c"
            ]
        ]
    },
    {
        "id": "954ed5bf.749ea",
        "type": "ui_text",
        "z": "e5710e57.cbfba",
        "group": "36ef9f12.31b838",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Longitude",
        "label": "Long:",
        "format": "{{payload.location.lon}}",
        "layout": "row-left",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "e279845.6804e78",
        "type": "function",
        "z": "e5710e57.cbfba",
        "name": "recup temp",
        "func": "var msgout =\"\";\nmsgout= msg.payload.value.temperature;\nmsg.payload=msgout;\n\nmsg.topic=\"Temp\"; // mandatory for charts to display a label\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "40a20adc.708e9c"
            ]
        ]
    },
    {
        "id": "abcb4c4a.3a11f",
        "type": "json",
        "z": "e5710e57.cbfba",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "e279845.6804e78",
                "c6d3df81.83daf",
                "8a7c7c67.6f29b8",
                "954ed5bf.749ea",
                "a1ca10f.efc097",
                "69a4044c.cb1094",
                "6d3556de.3a94"
            ]
        ]
    },
    {
        "id": "c6d3df81.83daf",
        "type": "function",
        "z": "e5710e57.cbfba",
        "name": "recup hydro",
        "func": "var msgout =\"\";\nmsgout= msg.payload.value.hygrometry;\nmsg.payload=msgout;\n\nmsg.topic=\"Hydro\"; // mandatory for charts to display a label\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "2963302.865595"
            ]
        ]
    },
    {
        "id": "2963302.865595",
        "type": "ui_chart",
        "z": "e5710e57.cbfba",
        "name": "Hydrometry chart",
        "group": "626829c3.1a585",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Hydrometry",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 890,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "40a20adc.708e9c",
        "type": "ui_chart",
        "z": "e5710e57.cbfba",
        "name": "Temp chart",
        "group": "7ee8c79c.1dd6",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 870,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8a7c7c67.6f29b8",
        "type": "ui_gauge",
        "z": "e5710e57.cbfba",
        "name": "",
        "group": "36ef9f12.31b838",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Gauge revmin",
        "label": "rpm",
        "format": "{{payload.value.revmin}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3500",
        "seg2": "6500",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "6d3556de.3a94",
        "type": "ui_gauge",
        "z": "e5710e57.cbfba",
        "name": "Gauge hydro",
        "group": "626829c3.1a585",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Gauge hydrométrie",
        "label": "%",
        "format": "{{payload.value.hygrometry}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "a1ca10f.efc097",
        "type": "ui_text",
        "z": "e5710e57.cbfba",
        "group": "36ef9f12.31b838",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Latitude",
        "label": "Lat:",
        "format": "{{payload.location.lat}}",
        "layout": "row-left",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "95dfb9b4.6aaa3",
        "type": "ui_button",
        "z": "e5710e57.cbfba",
        "name": "Buzzer command",
        "group": "36ef9f12.31b838",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Buzzer command",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "4c16145d.2155dc"
            ]
        ]
    },
    {
        "id": "4c16145d.2155dc",
        "type": "function",
        "z": "e5710e57.cbfba",
        "name": "set payload and headers",
        "func": "msg.payload = '{\"event\": \"buzzer\"}';\nmsg.headers = {};\n// -------\n// remplace by your API-Key with DEVICE_W role\nmsg.headers[\"X-API-KEY\"] = '3361c80f1814415e9aae5e5d6f2137d1';\n// -------\nmsg.headers[\"Accept\"] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "92bf427e.6095a"
            ]
        ]
    },
    {
        "id": "1ae51082.b32cd7",
        "type": "http request",
        "z": "e5710e57.cbfba",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://liveobjects.orange-business.com/api/v0/assets/android/359041083857129/commands",
        "tls": "",
        "x": 750,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "92bf427e.6095a",
        "type": "json",
        "z": "e5710e57.cbfba",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "1ae51082.b32cd7"
            ]
        ]
    },
    {
        "id": "c7d03048.1501f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Live Objects charles",
        "broker": "liveobjects.orange-business.com",
        "port": "1883",
        "clientid": "urn:lo:nsid:android:ttata",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7ee8c79c.1dd6",
        "type": "ui_group",
        "z": "",
        "name": "Center",
        "tab": "6a8a9ef6.2ec18",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "61bc5f43.8e8418",
        "type": "mqtt-broker",
        "z": "",
        "name": "Live Objects Lora",
        "broker": "liveobjects.orange-business.com",
        "port": "1883",
        "clientid": "urn:lo:nsid:lora",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "36ef9f12.31b838",
        "type": "ui_group",
        "z": "",
        "name": "Left",
        "tab": "6a8a9ef6.2ec18",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "626829c3.1a585",
        "type": "ui_group",
        "z": "",
        "name": "Right",
        "tab": "6a8a9ef6.2ec18",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6a8a9ef6.2ec18",
        "type": "ui_tab",
        "z": "",
        "name": "Follow-up of my refrigerated truck",
        "icon": "dashboard",
        "order": 1
    }
]